@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body{
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
}

.header-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header-links a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-right{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-logo-text{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.hero{
    display: flex;
    background: #1F2937;
    padding: 16px 100px;
    gap: 16px;
}

.hero-content{
    flex-grow: 1;
    flex-basis: 0;
}

.hero-content h1{
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-content p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button{
    background-color: #3882f6;
    padding: 4px 16px;
    color: #E5E7EB;
    border-radius: 5px;
    border:none;

}

.hero-image{
    flex-grow: 1;
    flex-basis: 0;
    align-self: stretch;
}

.info-image{
    min-width: 50px;
    min-height: 50px;
    border: 2px solid lightblue;
}

.information-container{
    display: flex;
    gap: 16px;
    padding: 8px 250px;
}

.info-block{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 8px 250px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.quote-author{
    text-align: right;
    font-weight: bold;
}

.action-section{
    display: flex;
}

.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 250px;
    padding-inline: 48px;
    padding-block: 16px;
    background-color: #3882f6;
    border-radius: 5px;
}

.action-section h2, .action-section p{
    margin: 0;
    padding: 0;
}

.action-section h2{
    color: #F9FAF8;
    font-size: 18px;
}

.action-section p{
    color: #E5E7EB;
    font-size: small;
}

.action-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
   
}

.action-button button{
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #E5E7EB;
    padding: 4px 16px;
    color: #E5E7EB;
}

.action-text{
    flex-grow: 2;
}

.footer p{
    color: #E5E7EB;
}

